#page-contacts{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;

}
/* Header */
.page-header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    height: 220px;
}

#page-contact h2{
    color: var(--color-box-base);
}

.page-header .top-bar-container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.page-header .top-bar-container a img{
    height: 3rem;
}

.page-header .top-bar-container a{
    color: var(--color-text-in-primary);
    text-decoration: none;
    margin-left: 2.3rem;
    font: 700 Poppins;
    height: 3.5rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover{
    opacity: 0.6;    
}

.page-header .header-content{
    width: 90%;
    position: relative;
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page-header .header-content strong{
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);

    max-width: 350px;

    margin-top: 4rem;

}

.page-header .header-content h4{
    font-size: 1.8rem;
    color: var(--color-text-in-primary);
}

/* Contatos */
#contacts{

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form speak";
    column-gap: 0;
 
}

#contacts #form{
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5rem 0 10rem 12rem;
    padding: 2rem; 
    border-radius: 1rem;
    grid-area: form;
    
}

#contacts #form fieldset{
    border: 0;
    padding: 0 2.4rem;
}

#form legend{
    width: 100%;
    display: block;
    font: 700 2.3rem Poppins;
    border-bottom: 1px solid var(--color-line-in-white);
    margin-bottom: 2.3rem;
    color: var(--color-primary);
}

#form .input-block, #form .textarea-block {
    position: relative;

}

/* .input-block + .input-block -> Caso depois do input venha mais um input*/
#form .input-block + .input-block,
#form .input-block + .textarea-block{
    margin-top: 1.4rem;
}

#form .input-block label, 
#form .textarea-block label{
    font-size: 1.4rem;
}


#form .input-block input{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

#form .textarea-block textarea{
    width: 100%;
    height: 16rem;
    min-height: 8rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    resize: vertical;
    padding: 1.2rem 1.6rem;
    font: 1.6rem Archivo;
}


#form .input-block:focus-within::after{

    /* Efeito de borda inferior no button*/

    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

/* :focus-within -> Estilizar caso algo dentro dele esteja em foco*/
#form .textarea-block:focus-within::after{

    /* Efeito de borda inferior no button*/

    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 7px;
}    

#form button{
    width: 100%;
    height: 5rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 2rem Archivo;
    align-items: center;
    text-decoration: none;
    margin-top: 1.4rem;
    cursor: not-allowed;

    /* Espaçamento igual em todas as direções*/
    justify-content: space-evenly;

    transition: 0.5s;
}

#form button:hover{
    background-color: var(--color-primary);
}


#speak{
    justify-self: center;
    grid-area: speak;
    flex: 1;

}

#speak h2{
    padding-top: 9rem;
    font: 700 2.9rem Poppins;
    color: var(--color-primary);
}

#speak .speak-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

#speak .speak-item + .speak-item{
    margin-top: 2.3rem;
}

#speak .speak-item span{
    width: 10rem;
    height: 7rem;
    background-color: var(--color-primary);
    border-radius: 0.8rem 0  0  0.8rem;
    text-align: center;
}

#speak .speak-item span img{
    width:4rem;
    margin-top: 1.4rem;
}

#speak .speak-item p{
    width: 35rem;
    height: 7rem;
    background: var(--color-input-background);
    text-align: center;
    padding-top: 2.3rem;
    font: 400 1.9rem Poppins;
    color: var(--color-primary-darker);
    border-radius: 0 0.8rem 0.8rem 0;
}

#speak #social-media{
    margin-top: 10rem;
}

#speak #social-media a{
    margin-left: 5.3rem;
    transition: 0.5s;
}

#speak #social-media a:hover{
    opacity: 0.4;
}